h1 {
    color: brown;
}
li {
    font-style: italic;
}
.links {
    font-style: normal;
    font-weight: bold;
}
.container {
    max-width: 840;
    margin: 0 auto;
}
.intro {
    text-align: center;
}
.button1 {background-color: #4CAF50;
font-size: large;
font weight: 500; }
.button2 {background-color: #f44336; 
font-size: large;
font weight: 500; }
